# Isolated network for Qubes communication
auto vmbr20
iface vmbr20 inet manual
    bridge_ports none
    bridge_stp off
    bridge_fd 0
    post-up iptables -A FORWARD -i vmbr20 -o vmbr10 -j DROP
    post-up ip route add 10.20.30.0/24 via 192.168.100.2 dev vmbr20
